.cover-page {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.cover-page__title,
.cover-page__subtitle {
  margin-bottom: 1rem;
}

.cover-page__title {
  font-size: 3rem;
}
