
.btn-div {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}



.btn-dashboard {
  background-color: var(--theme-color-salmon);
  color: var(--theme-color-light);
  padding: 1rem 1.5rem;
  text-decoration: none;
  transition: 150ms;
    
  }
  
  .btn-dashboard:hover {opacity: 1}