/* Base Button Styles */

.button {
  background-color: @theme-color-dark;
  border-radius: 0.5rem;
  border: 1px solid @theme-color-dark;
  color: @theme-color-light;
  margin: 0.2rem;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: 150ms;
}
.button:hover {
  background-color: @theme-color-light;
  color: @theme-color-dark;
  cursor: pointer;
}

/* Modifier Styles */

.button--cover {
  border: none;
  padding: 1rem 1.5rem;
}

.button--salmon {
  background-color: @theme-color-salmon;
}
.button--salmon:hover {
  background-color: @theme-color-dark;
  color: @theme-color-light;
}
