.navbar {
  background-color: @theme-color-dark;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.navbar__navlink {
  background-color: none;
  border-radius: 0.5rem;
  border: none;
  color: @theme-color-light;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  text-decoration: none;
  transition: 150ms;
  margin: 0 0.5rem;
}
.navbar__navlink:hover {
  background-color: @theme-color-light;
  color: @theme-color-dark;
  cursor: pointer;
}
