.navbar {
  background-color: @theme-color-dark;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.navbar__navlink {
  color: @theme-color-light;
  text-decoration: none;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.5rem;
  transition: 150ms;
}
.navbar__navlink:hover {
  background-color: @theme-color-salmon;
  /* color: @theme-color-dark; */
}
